.book-form-main {
    padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  }
  
  .book-form {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
  
  .form-book-title {
    width: 55%;
    border: 1px solid #e8e8e8;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    outline: none;
  }
  
  .book-categories {
    width: 25%;
    border: 1px solid #e8e8e8;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    border-radius: 5px;
    outline: none;
  }
  
  .form-btn {
    width: 15%;
    background-color: #0290ff;
    border-radius: 5px;
    color: #fff;
    padding: 1.2rem 2.3rem;
    font-family: 'Roboto Slab', sans-serif;
    border: none;
  }
  
  .form-title {
    color: #888;
    font-weight: 600;
    font-size: 2.4rem;
  }
  