.book-item {
    padding: 1.438rem 6.188rem 1.688rem 6.25rem;
    margin-bottom: 1rem;
}

.book-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    font-family: "Roboto Slab", sans-serif;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 2rem 1rem 2rem 3rem;
}

.comment-btn,
.remove-btn,
.edit-btn {
    background-color: transparent;
    border: none;
    color: #4386bf;
    font-size: 1.6rem;
}

.book-type {
    color: #9d9d9d;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.book-title {
    color: #121212;
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

.book-author {
    color: #4386bf;
    font-weight: 300;
    margin-bottom: 2.4rem;
}

.book-actions {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.book-action {
    display: flex;
    align-items: center;
}

.book-action:nth-child(1) {
    padding-right: 0.8rem;
}

.book-action:nth-child(2),
.book-action:nth-child(3) {
    padding: 0 0.8rem;
}

.book-action:nth-child(1),
.book-action:nth-child(2) {
    border-right: 1px solid #333;
}

.book-action a {
    text-decoration: none;
    color: #4386bf;
    font-weight: 300;
}

.book-completion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pourcentage-number {
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    margin: 0;
    color: #121212;
}

.pourcentage-text {
    color: #909090;
    margin: 0;
}

.line {
    margin-left: 5rem;
    width: 1px;
    height: 7rem;
    background-color: #e8e8e8;
}

.book-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-chapter {
    color: #a7a7a7;
    margin: 0;
}

.current-lesson {
    color: #121212;
    margin: 0.8rem 0 2.3rem;
}

.updatebutton {
    color: #fff;
    padding: 1.2rem 1.6rem;
    background-color: #0290ff;
    border-radius: 5px;
    font-weight: 300;
    text-decoration: none;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

